fastapi==0.116.1
gradio==5.38.0
langchain==0.3.26
langchain_chroma==0.2.5
langchain_community==0.3.27
langchain_core==0.3.71
langchain_groq==0.3.6
langchain_ollama==0.3.6
langgraph==0.5.4
langserve==0.3.1
pandas==2.3.1
psycopg2_binary==2.9.10
pydantic==2.11.7
pydantic_settings==2.10.1
python-dotenv==1.1.1
python_dateutil==2.9.0.post0
Requests==2.32.4
streamlit==1.46.1
typing_extensions==4.14.1
prometheus-fastapi-instrumentator
langfuse
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-requests
