fastapi
uvicorn
langchain
langchain-openai
langchain-core
langchain-ollama
langchain-community
langchain-chroma
chromadb
sqlalchemy
python-dotenv
psycopg2-binary
feedparser
requests
google-cloud-firestore
langchain_google_firestore
gpt4all
PyPDF2
PyMuPDF
sentence-transformers
scikit-learn
llama-cpp-python
langchain-google-genai
langgraph
grandalf
langchain_groq
langchain_tavily
langgraph-prebuilt
langgraph-checkpoint
langgraph-checkpoint-sqlite
